#hero {
    height: 500px;
    background-position: center;
    background-image: url(/trees.jpg);
    background-size: 100%;
}

#hero-content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position:relative;
    top: 200px;
    
}

#hero-content h1 {
    font-size: 40px;
}

#hero-content p {
    font-weight:normal;
}

#hero-content a {
    text-decoration: none;
    padding: 12px 24px;
    background-color: rgb(2, 59, 2);
    border-radius: 8px;
    color: white;
}

#second {
    display: flex;
    justify-content: space-evenly;

}