body {
    font-family: 'Roboto Mono',sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 40px;
}

header ul {
    display: flex;
    margin: 0%;
    padding: 0%;
}

header li {
    margin: 15px;
    list-style: none;
}

#page-logo a {
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(161, 5, 5);
    padding: 5px;
}

#my {
    border-style: solid;
    border-color: rgb(2, 59, 2);
    border-radius: 40px;
    padding: 3px 18px;
    color: rgb(2, 59, 2);
    font-weight: bold;
    margin-top: 8px;
}